.App {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1140px;
    margin: auto;
    color: white;
}

.App-logo {
    pointer-events: none;
}

.App-header {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    max-height: 40px;
}
